In [1]:
import pandas as pd

In [2]:
file = pd.read_excel('daycare.xlsx')
file.head()

,Name,Date_of_birth,Infant,I_start_date,I_transition_date,Toddler,T_start_date,T_transition_date
0,Owen Davey,2023-12-19,INFANT1,2025-01-13,2025-09-01,TODDLER4,2025-09-02,NaT
1,Vesper Boyd,2024-02-21,INFANT1,2025-01-06,2025-08-05,TODDLER3,2025-08-06,NaT
2,Logan Mitchell,2024-02-29,INFANT1,2025-03-03,2025-09-02,TODDLER1,2025-09-03,NaT
3,Jade Mia Kolunovsky,2024-02-04,INFANT1,2025-02-10,2025-08-05,TODDLER1,2025-08-06,NaT
4,Rowen Tiger,2024-03-19,INFANT1,2025-01-06,2025-09-02,TODDLER1,2025-09-03,NaT

In [ ]:
# Convert dates to datetime.date format

for date_ in ["Date_of_birth", "I_start_date", "I_transition_date", "T_start_date", "T_transition_date"]:
    file[date_] = pd.to_datetime(file[date_]).dt.date

In [ ]:
from entities import Child, Daycare
from datetime import date

daycare = Daycare()
daycare.create_date_dicts(start_date=date(2024, 3, 25), end_date=date(2027, 3, 25))

for row in file.itertuples():
    child = Child(name=row.Name, date_of_birth=row.Date_of_birth)
    child.add_infant(classroom=row.Infant, start_date=row.I_start_date, transition_date=row.I_transition_date)
    # child.add_toddler(classroom=row.Toddler, start_date=row.T_start_date, transition_date=row.T_transition_date)
    # child.add_preschool(classroom=row.Preschool, start_date=row.P_start_date, transition_date=row.P_transition_date)
    
    daycare.add_child(child)

### Vacancy metrics

In [ ]:
start_date = date(2024, 3, 25)
end_date = date(2025, 3, 25)

In [ ]:
vacant_places_rate = daycare.compute_vacant_places_rate_on_period(start_date, end_date)
print(f"The vacant places rate between {start_date} and {end_date} is {vacant_places_rate:.2%}")

In [ ]:
for stage in ["INFANT", "TODDLER", "PRESCHOOL"]:
    vacant_places_rate = daycare.compute_vacant_places_rate_on_period_stage(stage, start_date, end_date)
    print(f"Vacant places rate for stage {stage} between {start_date} and {end_date}: {vacant_places_rate:.2%}")

### Categorization

In [ ]:
daycare.update_categories_distributions()
print(f"Start categories distribution: {daycare.start_categories}")
print(f"Transition categories distribution: {daycare.transition_categories}")

### Transition of the week